.c1363{
  min-height:12px;
}
.row{
  display:flex;
  justify-content:flex-start;
  align-items:stretch;
  flex-wrap:nowrap;
  padding:10px;
}
.cell{
  min-height:75px;
  flex-grow:1;
  flex-basis:100%;
}
#imzf{
  padding:10px;
  font-family:Helvetica, sans-serif;
}
.auto-nav{
  background-color:#3a3a3a;
  color:#f1f1f1;
  font-family:Verdana, Geneva, sans-serif;
}
@media (max-width: 768px){
  .row{
	flex-wrap:wrap;
  }
}
